@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #0f131b;
  }
  
  body {
    overscroll-behavior: none;
  }
  
  main > :first-child {
    margin-top: 0 !important;
  }
  
  main > :last-child {
    margin-bottom: 0 !important;
  }
}

/* Custom technical minimalist scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0e15;
}

::-webkit-scrollbar-thumb {
  background: #262a32;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #434655;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
